body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px;
}

.card {
    background-color: hsl(216, 50%, 16%);
    padding: 23px 23px 20px 23px;
    border-radius: 1rem;
    width: 305px;
    margin: 0 auto;
    box-shadow: 0px 5px 30px hsl(217, 59%, 8%);
}

#details, .card p:nth-of-type(2) {
    font-size: 16px;
}

.overlay {
    display: none;
    position: absolute;
    display: inline-block; 
    width: 305px; 
    height: 305px;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 0.5rem;
    opacity: 0;
}

.overlay:hover {
    /* display: block; */
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: hsla(178, 100%, 50%, 0.473); 
    cursor: pointer;
    opacity: 1;
}

img {
    border-radius: 0.5rem;
    width: 100%;
}

main.card a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

main.card a:hover {
    color: hsl(178, 100%, 50%);
}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 600; 
    font-size: 21px;
    margin-top: 1em;
}

 p {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin-bottom: 0.5em;
 }
 
#details {
    border-bottom: 1px solid hsl(215, 32%, 27%); 
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

span.eth {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

span.eth, span.time {
    padding-left: 0.5em;
}

.content svg, .time, .eth, p img {
    vertical-align: middle;
}

p img { /* the image avatar*/
    width: 1.90rem;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1em;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }