body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px;
}

.card {
    background-color: hsl(216, 50%, 16%);
    padding: 23px 23px 15px 23px;
    border-radius: 1rem;
    width: 305px;
    margin: 0 auto;
    box-shadow: 0px 5px 30px hsl(217, 59%, 8%);
}

#details, .card p:nth-of-type(2) {
    font-size: 16px;
}
div.overlay svg{
    background-color: red;
}

/* .overlay svg:hover {
    background-color: seagreen;
} this is working but i need to lay svg over img*/

img {
    border-radius: 0.5rem;
    width: 100%;
}

a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}
/* a:hover {
    background-color: hsl(216, 50%, 16%);
}  i don't think i need htis*/
a:hover, span.jules:hover {
    color: hsl(178, 100%, 50%);
}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 600; 
    font-size: 21px;
    margin-top: 1em;
}

 p {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
 }
 
#details {
    border-bottom: 1px solid hsl(215, 32%, 27%); 
}

#details p {
    padding-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
/* p img, svg {} dry code the vertical align?*/
.eth {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    /* vertical-align: middle; not working bc svg is included in the span, but it i separate it, the flex above fucks up :/ */ 
}

p img { /* the image avatar*/
    width: 1.90rem;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
}

/* span.jules {
    color: hsl(0, 0%, 100%);
} */

/* span.jules:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
} */

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }